<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/jpg" href="img/logo.png" />
    <title>Sangue Bom</title>

    <!-- Custom fonts for this template-->
    <link href="/css/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>
<style>

</style>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper" style="background-color: pink;">

        <!-- Sidebar -->
        <div th:replace="fragments :: nav" ></div>

        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <!-- Conteudo -->
                <!-- Dica de saude -->
                <div class="row" style="padding: 3%; width: 100%;">
                    <div class="container-fluid">
                        <h1 class="h3 mb-2 text-gray-800">Agenda</h1>
                        <p class="mb-4">Aqui é onde você vai se organizar para fazer suas doações, e claro sempre respietando a restrições da OMS, onde a doação só pode ocorrer de três em três meses. </p>
                    </div>
                    <!-- Inicio do Form -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            <h6><b>Tipo de doação</b></h6>
                                        </div>
                                        <div class="h7 mb-0  text-gray-800">
                                            <div class="campo">
                                                <p style="font-size:13pt; text-align: left;">Que tipo de doação você deseja realizar: </p>
                                                <select name="tipo" id="tipo" style="width: 90%;">
                                                    <option value="Sangue_Total">Doação sangue total</option>
                                                    <option disabled>Plaquetas(em breve)</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            <h6><b>Local </b></h6>
                                        </div>
                                        <div class="h7 mb-0  text-gray-800">
                                            <div class="campo">
                                                <p style="font-size:13pt; text-align: left;">Esses são locais disponiveis: </p>
                                                <select name="local" id="local" style="width: 90%;">
                                                    <option value="">--</option>
                                                    <option value="1">Albert Einstein</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            <h6><b>Data</b></h6>
                                        </div>
                                        <div class="h7 mb-0  text-gray-800">
                                            <div class="campo">
                                                <p style="font-size:13pt; text-align: left;">Esses são dias disponiveis: </p>
                                                <input type="date" name="dia" id="dia" style="width: 90%;">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            <h6><b>Horário </b></h6>
                                        </div>
                                        <div class="h7 mb-0  text-gray-800">
                                            <div class="campo">
                                                <p style="font-size:13pt; text-align: left;">Esses são horarios disponiveis: </p>
                                                <select name="horario" id="horario" style="width: 90%;">
                                                    <option>--</option>
                                                    <option value="09:00">09:00</option>
                                                    <option value="09:30">09:30</option>
                                                    <option value="10:00">10:00</option>
                                                    <option value="10:30">10:30</option>
                                                    <option value="11:00">11:00</option>
                                                    <option value="11:30">11:30</option>
                                                    <option value="12:00">12:00</option>
                                                    <option value="12:30">12:30</option>
                                                    <option value="13:00">13:00</option>
                                                    <option value="13:30">13:30</option>
                                                    <option value="14:00">14:00</option>
                                                    <option value="14:30">14:30</option>
                                                    <option value="15:00">15:00</option>
                                                    <option value="15:30">15:30</option>
                                                    <option value="16:00">16:00</option>
                                                    <option value="16:30">16:30</option>
                                                    <option value="17:00">17:00</option>
                                                    <option value="17:30">17:30</option>
                                                    <option value="18:00">18:00</option>
                                                    <option value="18:30">18:30</option>
                                                </select>  
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                    </div>

                    <button class="button2" style="margin: 0 auto;">Agendar</button>
                </div>
            </div>
        </div>
         </form>
           <!-- Fim do form -->


        <!-- /.container-fluid -->
        <!-- Dica de saude -->

        <!-- Meta -->

        <!-- Meta -->

    </div>



    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/css/vendor/jquery/jquery.min.js"></script>
    <script src="/css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/css/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/css/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/chart-area-demo.js"></script>
    <script src="/js/demo/chart-pie-demo.js"></script>

</body>

</html>