<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sangue Bom - Perfil">
    <title>Sangue Bom</title>

    <!-- Stylesheets -->
    <link rel="icon" type="image/jpg" href="/img/logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="/css/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="/css/sb-admin-2.min.css">
    <link rel="stylesheet" href="/css/perfil.css">
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper" class="bg-pink">

    <!-- Sidebar -->
    <div th:replace="fragments :: nav" ></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">


            <!-- Main Content Area -->
            <div class="container-fluid">
                <h1 class="h3 mb-2 text-gray-800">Perfil</h1>
                <p class="mb-4">Suas informações estão nesta aba. Aqui você pode ver sua posição no Ranking e o seu título de doador.</p>

                <!-- Card: Profile -->
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <button class="btn btn-light rounded-circle">
                                <i class="fas fa-user"></i>
                            </button>
                            <div>
                                <p><strong>Seu atual nível:</strong> Doador amigo</p>
                                <p><strong>Sua posição no ranking:</strong> 20º</p>
                            </div>
                            <button class="btn btn-light ml-auto rounded-circle">
                                <img src="/img/medalha2.png" width="90%" height="100%">
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Dados do Usuário -->
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <h5 class="font-weight-bold">Número de Doações</h5>
                        <p>Você doou:</p>
                        <div class="progress mb-4">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 30%" th:text="${donationSummary.donationQuantity} "></div>
                        </div>

                        <h5 class="font-weight-bold">Última Doação</h5>
                        <p>Sua última doação foi há:</p>
                        <div class="progress mb-4">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 66%" th:text="${donationSummary.nextDonation} + meses "></div>
                        </div>

                        <h5 class="font-weight-bold">Dados Pessoais</h5>
                        <div class="card border-left-primary shadow py-2">
                            <table class="table">
                                <tbody>
                                <tr>    <td>
                                    <strong>Nome:</strong> <span th:text="${user.firstName}"></span>
                                </td>
                                    <td>
                                        <strong>Sobrenome:</strong> <span th:text="${user.lastName}"></span>
                                    </td></tr>
                                <tr>    <td>
                                    <strong>CPF:</strong> <span th:text="${user.cpf}"></span>
                                </td>
                                    <td>
                                        <strong>RG:</strong> <span th:text="${user.rg}"></span>
                                    </td></tr>
                                <tr>    <td>
                                    <strong>Email:</strong> <span th:text="${user.login}"></span>
                                </td>
                                    <td>
                                        <strong>Tipo de Sangue:</strong> <span th:text="${user.bloodType}"></span>
                                    </td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Endereço -->
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <h5 class="font-weight-bold">Endereço</h5>
                        <table class="table">
                            <tbody>
                            <tr>
                                <td><strong>CEP:</strong> <span th:text="${user.zipCode}"></span> </td>
                                <td><strong>Cidade:</strong> <span th:text="${user.city}"></span></td>
                                <td><strong>Estado:</strong> <span th:text="${user.state}"></span></td></tr>
                            <tr>
                                <td><strong>Rua:</strong> <span th:text="${user.street}"></span></td>
                                <td><strong>Bairro:</strong> <span th:text="${user.neighborhood}"></span></td>
                            </tr>
                            <tr>
                                <td><strong>Numero:</strong> <span th:text="${user.houseNumber}"></span></td>
                                <td><strong>Complemento:</strong> <span th:text="${user.complement}"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        <!-- JavaScript dependencies -->
        <script src="/css/vendor/jquery/jquery.min.js"></script>
        <script src="/css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/css/vendor/jquery-easing/jquery.easing.min.js"></script>
    </div>
</div>
</body>
</html>
